spring:
  h2:
    console:
      enabled: true
      path: "/h2-console"
  sql:
    init:
      mode: always
  datasource:
    driver-class-name: org.h2.Driver
    hikari:
      jdbc-url: jdbc:h2:mem:test
      username: sa
      password: